
.gitignore
.vscode-test/**
.vscode/**
ColoursofPottermore_03.jpg
crest_1.jpg
crest_2.png
crest_3.png
crest_4.gif
crest_bw.png
crest_on_parchment.jpg
crests_2.gif
crests_3.jpg
crests.jpg
crestssmall.pdf
fileTypes/*
hogwards_crest.png
house_crests_2.png
house_crests.jpg
Largecrests.pdf
palette.css
screenshots/*
vsc-extension-quickstart.md