.hogwartsPalette {
    color: #531C64;
    color: #E0EAEF;
    color: #83B545;
    color: #F9DD7B;
    color: #AFBAC0;
    color: #A1CCC5;
    color: #B1B6B0;
    color: #DCD2CE;
    color: #AF5B02;
    color: #F05921;
    color: #21244C;
    color: #5BBE7A;
    color: #E7FB15;
    color: #89CA6F;
    color: #3F9295;
    color: #524B45;
    color: #FFA253;
    color: #E15A1A;
    color: #D5D2E2;
    color: #867C79;
    color: #474436;
    color: #91D5F2;
    color: #5053A3;
    color: #1735B1;
    color: #CEE53A;
    color: #9013FB;
    color: #34E849;
    color: #1FB5A8;
    color: #712221;
    color: #28F436;
    color: #4F40F5;
    color: #7390AA;
    color: #571356;
    color: #2F17D6;
    color: #FE91B5;
    color: #66384C;
    color: #9B1559;
    color: #A09F3C;
    color: #8B0E00;
    color: #9A2E22;
    color: #8F6700;
    color: #6FBEA0;
    color: #2E826A;
    color: #036983;
}

.Gryffindor {
    /* https://www.pottermore.com/explore-the-story/godric-gryffindor */
    color: #8D0000;
    color: #442400;
    color: #745D42;
    color: #5A4F4B;
    color: #D30004;
    color: #805600;
    color: #CAA902;
    color: #CCC54E;
    color: #FCCD01;
    color: #FFD203;
    color: #636363;
    color: #11A8CD;
    color: #1178cd;
}

.Moody {
    color: #65574E
}

.Dumbledore {
    color: #B0A9CB
}

.Aragog {
    color: #465155
}

.Wisleys {
    color: #EB5017
}

.CrouchJr {
    color: #072C03
}

.CrouchSr {
    color: #272A4D
}

.BellatrixLestrange {
    color: #002900
}

.DoloresUmbridge {
    color: #D5A8A5
}

.FenrirGreyback {
    color: #8E6E31
}

.GilderoyLockhart {
    color: #96ACD1
}

.DracoMalfory {
    color: #017431
}

.KingsleyShaklebolt {
    color: #775DA4
}

.LunaLovegood {
    color: #055183
}

.MountainTroll {
    color: #B7B9B4
}

.CedricDiggory {
    color: #F0B600
}

.RitaSkeeter {
    color: #A1E56A
}

.PetuniaDursley {
    color: #FFD5B4
}

.GodricsHollow {
    color: #E1E8F0
}

.KingaCross {
    color: #C8BC8C
}

.ShellsCottage {
    color: #F9DC7E
}

.Howler {
    color: #DF6455
}

.GobletOfFire {
    color: #68BCEA
}

.Merpeople {
    color: #9DCCC4
}

.Phoenix {
    color: #964702
}

.PottermoreHomepageFooter {
    color: #333333
}

.PhilosophersStone {
    color: #a61728
}

.HarryPotter {
    color: #BD2A1B
}

.hippogriff {
    color: #a9b1b9
}

.Hogsmeade {
    color: #e2ebf0
}

.Pensive {
    color: #8c8790
}

.ExpectoPatrinum {
    color: #d9d3ca
}

.PottermoreHeader {
    color: #00556B
}

.PottermoreTitleBackground {
    color: #996E00
}