.hogwartsPalette {
    color: #531C64;
    color: #E0EAEF;
    color: #83B545;
    color: #F9DD7B;
    color: #AFBAC0;
    color: #A1CCC5;
    color: #B1B6B0;
    color: #DCD2CE;
    color: #AF5B02;
    color: #F05921;
    color: #21244C;
}

.Moody {
    color: #65574E
}

.Dumbledore {
    color: #B0A9CB
}

.Aragog {
    color: #465155
}

.ArthurWisley {
    color: #EB5017
}

.CrouchJr {
    color: #072C03
}

.CrouchSr {
    color: #272A4D
}

.BellatrixLestrange {
    color: #002900
}